services:
  phpmyadmin:
    image: phpmyadmin:5
    environment:
      - PMA_ARBITRARY=0
      - PMA_HOST=mariadb
    ports:
      - 8080:80
#      - 8443:443
    restart: always
    depends_on:
      - mariadb
  mariadb:
    image: mariadb:11.8
    volumes:
      - './db:/var/lib/mysql:Z'
    ports:
      - 127.0.0.1:3306:3306
    restart: always
#    environment:
#      - MARIADB_ROOT_PASSWORD=linuxserver
